@import "tailwindcss";

.container,
.container-lg{
  max-width: 1300px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

.container-lg{
    max-width: 1714px;
}

.scrolbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrolbar_header{
  -ms-overflow-style: none;
  scrollbar-width: none;
}